/*-------------------->> HEADER <<--------------------*/
body{
    background-image: url(../images/naranja.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    margin: 20px;
}
.logo img {
    padding-top: 50px;
    padding-bottom: 40px;
}
.declaracion{
    font-size: 17px;
}
h1, h4, h3, p, a{
    font-family: 'Aref Ruqaa', serif;
}
#salida{
    margin-top: 20px;
    font-family: 'Aref Ruqaa', serif;
    font-size: 20px;
}
.codigo a{
    color: black;
    padding-top: 20px;
    
}
/*-------------------->> SECTION EJERCICIO <<--------------------*/
button{
    margin-top: 20px;
}